/Log/
/.vs/
/Main.sln
/build/
/.idea/
/cmake-build-ludork-debug/
/CMakeUserPresets.json
/Intermediate/
/Cache/
/Binaries/
/Scripts/Internal/UI/
/Scripts/stub/Internal/UI/
/Scripts/stub/Internal/UIWindows/
/Scripts/Source/Locale/*
!/Scripts/Source/Locale/Core.lua
/EditorCache/
