/Log/
/.vs/
/.venv/
/Main.sln
/build/
/.idea/
/cmake-build-*/
/cmake-build-ludork-debug/
/Intermediate/
/Cache/
/Binaries/
/EditorCache/
/Scripts/Internal/UI/
/Scripts/stub/Internal/UI/
/Scripts/stub/Internal/UIWindows/
/Scripts/Source/Locale/*
!/Scripts/Source/Locale/Core.lua
/Engine/ThirdParty/
/ThirdPartySource/
/Save/
/CMakeUserPresets.json
/Main.ini
*.anim.json
