bin/
obj/
.venv/
.tools/
**/__pycache__/
**/test/
**/tests/
**.log
Log/
Temp/
Sample/.venv/
build-verify/
Ludork.ini
/plugins.json
/Plugins/.data/
/Locale/*
!/Locale/locale.json
Templates/
Sample/.idea/
Sample/Main.ini
Sample/LuaSF/
Sample/lua-cjson/
Sample/zlib/
Sample/ffmpeg/
Sample/ThirdPartySource/
Sample/build/
Sample/bin/
Sample/Save/
Sample/Core/**/GeneratedBindings.cpp
Sample/Core/**/_generated_bindings.cpp
Sample/Core/stub/
Sample/Scripts/CoreSystem_meta.lua
Sample/Scripts/Engine_meta.lua
Sample/Scripts/GlobalCore_meta.lua
Sample/Scripts/GlobalFunctions_meta.lua
Sample/Scripts/stub/*
!Sample/Scripts/stub/Class.d.lua
!Sample/Scripts/stub/Standard.d.lua
!Sample/Scripts/stub/cjson.d.lua
!Sample/Scripts/stub/Global/
!Sample/Scripts/stub/Global/**
!Sample/Scripts/stub/Mixins/
!Sample/Scripts/stub/Mixins/**
!Sample/Scripts/stub/Source/
!Sample/Scripts/stub/Source/**
*.anim.json
Sample/Data/Locale/*
!/Sample/Data/Locale/locale.xlsx
Sample/Scripts/Source/Locale/*
!/Sample/Scripts/Source/Locale/Core.lua
*.proj
**/dist/
**/dist-luac/
.DS_Store
