bin/
obj/
.venv/
.tools/
**/__pycache__/
**/test/
**/tests/
**.log
Log/
EditorCache/
Game/.venv/
build-verify/
Ludork.ini
/plugins.json
/Plugins/.data/
/Locale/*
!/Locale/locale.json
Templates/
Game/.idea/
Game/Main.ini
Game/Engine/ThirdParty/
Game/ThirdPartySource/
Game/build/
Game/bin/
Game/Save/
Game/Scripts/Engine_meta.lua
Game/Scripts/GlobalCore_meta.lua
Game/Scripts/GlobalFunctions_meta.lua
Game/Scripts/stub/*
!Game/Scripts/stub/Class.d.lua
!Game/Scripts/stub/Standard.d.lua
!Game/Scripts/stub/cjson.d.lua
!Game/Scripts/stub/Global/
!Game/Scripts/stub/Global/**
!Game/Scripts/stub/Mixins/
!Game/Scripts/stub/Mixins/**
!Game/Scripts/stub/Source/
!Game/Scripts/stub/Source/**
*.anim.json
Game/Data/Locale/*
!/Game/Data/Locale/locale.xlsx
*.proj
**/dist/
**/dist-luac/
.DS_Store
Game/Intermediate/
Game/cmake-build-*/
