*.pyc
*.log
*.pyd
*.so
*.anim.dat
**/.DS_Store
**/build/
**/__MACOSX
/.vscode/
.trae/
lib/
C_Extensions/SFML/
LudorkEnv/
pysf/
Ludork.ini
Locale/en_GB
Locale/zh_CN
Sample/Main.proj
launcher.build/
launcher.dist/
launcher.onefile-build/
.clangd
.clangd-format
/Sample/**/*.pyi
/EditorExtensions/**/*.pyi
